@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  font-family: "lato";
  color: #333;

  --primary-gradient-color: #FFB682;
  --secondary-gradient-color: #FF8D86;

  --primary-gradient-color-dark: #c48a60;
  --secondary-gradient-color-dark: #b15f5b;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #1E2634;
}

@media only screen and (max-width: 550px) { 
  .navbar h1 { 
    display: none; 
  } 
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar .information_link {
  color: white;
  background-color: #1E2634;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar .information_link:hover {
  background-color: #566c92;
  color: white;
}
.navbar a:hover {
  color: #FF0000;
}
.content {
  max-width: 1800px;
  margin: 40px auto;
  padding: 20px;
}

.home .front_page_svg {
  margin-right: 10px;
  float: right;
  padding-top: 25px;
}

.home .text {
  max-width: 450px;
  float: left;
  padding-left: 50px;
  padding-top: 75px;
}

.home h1 {
  font-size: 56px;
  background-image: linear-gradient(45deg, var(--primary-gradient-color), var(--secondary-gradient-color));
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.home button {
  background-image: linear-gradient(45deg, var(--primary-gradient-color), var(--secondary-gradient-color));
  border: 0px;
  border-radius: 4px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
  margin-top: 40px;
  color: white;
}

.home button:hover {
  background-image: linear-gradient(45deg, var(--primary-gradient-color-dark), var(--secondary-gradient-color-dark));
  border: 0px;
  border-radius: 4px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 20px;
  margin-top: 40px;
  color: white;
}

.home p {
  font-size: 20px;
}

html {
  background-image: url(/src/assets/front_page_wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100%;
  background-size: 1920px 400px;
}

@media only screen and (max-width: 500px) { 
  .home h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1100px) { 
  .home .front_page_svg { 
    display: none; 
  }
  .home .text {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0px;
  }
}

.information_page .grid {
  padding-top: 1.5rem;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.information_page .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.province_info h1{
  text-align: center;
  background-image: linear-gradient(45deg, var(--primary-gradient-color), var(--secondary-gradient-color));
  color: white;
}

.detailed_province_info .province_name h1{
  text-align: center;
  background-image: linear-gradient(45deg, var(--primary-gradient-color), var(--secondary-gradient-color));
  color: white;
}

.province_info h1:hover {
  background-image: linear-gradient(45deg, var(--primary-gradient-color-dark), var(--secondary-gradient-color-dark));
}

.province_name {
  text-align: center;
  background-image: linear-gradient(45deg, var(--primary-gradient-color), var(--secondary-gradient-color));
  color: white;
}

.detailed_province_info .grid {
  padding-top: 1.5rem;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
}

.detailed_province_info .card {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E2634;
}

.detailed_province_info h1 {
  color: white;
}